:root {
        --dark: #303846;
        --dark-secondary: #ccc;
        --green: #09d3ac;
        --light-secondary: #f7f7f7;
        --light: #fff;
}

.flex-block {
	display: flex;
}

.flex-between {
	justify-content: space-between;
}

.flex-around {
	justify-content: space-around;
}

.flex-center {
	justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.container {
  width: 1000px;
  //padding: 30px 0 30px 0;
  margin: auto;
  border: 2px solid red;
}

@media screen and (max-device-width: 1000px){
  .container {
    padding: 60px 0 60px 0;
    font-size: 0.9em;
  }
}

.width-30 {
    width: 30%;
}

@media screen and (max-device-width: 1000px) {
  .width-30 {margin: 20px}
}

.width-45 {
        width: 45%;
}

html, body {
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	color: var(--dark);
	line-height: 1.5;
	margin-top:60px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

main {
        flex: 1 0 auto;
}

h1 {
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 0;
}

h2 {
	font-size: 1.8em;
	margin-top: 0;
	margin-bottom: 0.5em;
	light-space: nowrap;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 5px 0 5px 20px;
	background: var(--light);
	font-weight: bold;
}

.horizontal-menu {
	list-style: none;
  font-size: 0.9em;
}

@media screen and (max-device-width: 1000px) {
  .horizontal-menu {font-size: 0.68em}
}

.horizontal-menu li {
	padding: 0 10px 0 0;
}

nav a {
	color: var(--dark);
	text-decoration: none;
}

.logo {
	align-items: center;
}

.description {
	width: 100%;
	flex: 1 1 auto;
	background: url("../images/banner.png");
	background-position: center;
	background-size: cover;
	color: var(--light);
}

.description .container {
  font-weight: bold;
	text-align: center;
}

.description .container img {
	height: 13em;
}

.description p {
  margin: 20px 0 30px;
}

.logo img {
	height: 2em;
  margin-right: 10px;

}

.width-30 img{
  max-width: 100%;
  max-height: 100%;
}

.width-30 h2 {
  white-space: pre;
}

.button{
	text-decoration: none;
	font-size: 1em;
	color: var(--light);
	border: 2px solid var(--light);
	border-radius: 10px;
	padding: 15px;
	cursor: pointer;
}

footer {
  flex: 0 0 auto;
  background-color: var(--dark);
  color: var(--light);
	font-weight: bold;
}

footer h2 {
	font-size: 1em;
	color: light;
}

.background-secondary {
	background-color: var(--light-secondary);
}

.order-form {
	margin-left: auto;
	margin-right: auto;
  padding: 60px 0;
}

.form-container {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

@media screen and (max-device-width: 1000px){
  .order-form legend { font-size: 1.5em}
}

.order-form fieldset {
	border: 2px solid var(--green);
}

.order-form legend {
	color: var(--green);
	font-weight: bold;
}

.order-form .button{
	color: var(--green);
  font-weight: bold;
	border: 2px solid var(--green);
	margin: 10px;
  width: 40%;
}

.order-form h2 {
	text-align: center;
}

.field {
	font-weight: bold;
}

.field p {
  align-self: center;
  width: 50%;
}

legend {
  margin-top: 20px;
}

.select-style {
	box-sizing: border-box;
	width: 100%;
  border-radius: 5px;
  border-style: solid;
  border-color:  var(--dark-secondary);
  background-color: var(--light);
  height: 2em;
}

/** CSS STYLE **/
