:root { 
        --grey: #303846;      
        --green: #09d3ac;      
        --yellow: #f7f7f7;
	--white: #fff;
}

.flex-block {
	display: flex;
	justify-content: space-between;
}

.container {
        width: 1000px;
        padding: 60px 15px 60px 15px;
        justify-content: space-around;
}

.width-30 {
        width: 30%;
}

.width-45 {
        width: 45%;
}

html, body {
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	color: var(--grey);
	line-height: 1.5;
	margin-left: 0;
	margin-right: 0;
	flex-direction: column;
	padding: 0;
}

main {
        flex: 1 0 auto;
}

h1 {
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 0;
}

h2 {
	font-size: 1.8em;
	margin-top: 0;
	margin-bottom: 0.5em;
	white-space: nowrap;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 5px 20px 5px 20px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	background: var(--white);
}

.horizontal-menu {
	align-items: center;
	justify-content: flex-end;
	list-style: none;
}

.horizontal-menu li {
	padding: 0 10px;
}

nav a {
	color: var(--grey);
	text-decoration: none;
}

.logo{
	align-items: center;
}

.section { 
	justify-content: center;
}

.description{
	width: 100%;
	flex: 1 1 auto;
	margin: 60px 0 60px;
	padding: 20px 0 20px;
	background: url("../images/banner.png");
	background-position: center;
	background-size: cover;
	color: var(--white);
	align-items: center;
	align-content: center; 
	justify-content: center;
}

.description .container {
	text-align: center;
	padding: 0 40px;
}

.description .container img {
	height: 10em;
}

.logo img {
        margin-right: 10px;
}

.width-30 img{
        max-width: 100%;
        max-height: 100%;
}

.button{
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	color: var(--white);
	border: 2px solid var(--white);
	border-radius: 10px;
	margin: 0 10px;
	padding: 5px;
}

.about-JK {
	width: 100%;
	background-color: var(--yellow);
}

footer {
        flex: 0 0 auto;
        background-color: var(--grey);
        color: var(--white);
}

footer h2 {
	font-size: 1em;
	color: white;
}

footer .container{
	width: 100%;
	justify-content: space-between;
	margin: 0 20px;
}



.background-form {
	background-color: var(--yellow);
	margin-bottom:-20px;
}

.order-form {
	margin-left: auto;
	margin-right: auto;
}

.form-container {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.order-form fieldset {
	margin: 10px 0;
	border: 2px solid var(--green);
}

.order-form legend {
	color: var(--green);
	font-weight: bold;
}

.order-form .button{
	color: var(--green);
	border: 2px solid var(--green);
	padding: 10px;
	margin: 10px 0;
}

.order-form h2 {
	padding: 10px;
	text-align: center;
}

.field-name {
	margin: 0 20px;
	grid-area: field-name;
	font-weight: bold;
}

.field {
	margin: 0 20px;
	grid-area: field;
}

.main-field {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "field-name field";
}

.select-style {
	box-sizing: border-box;
	width: 100%;
}

/** CSS STYLE **/
