body {
	font-family: sans-serif;
	font-size: 16px;
	color: #303846;
	line-height: 1.5;
	margin-left:0;
}

h1 {
	font-size:3em;
	margin-bottom: 0;
	margin-top:0;
}

h2 {
	font-size: 1.8em;
	margin-top:0;
	margin-bottom:0.5em;
	white-space:nowrap;
}

.header {
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:60px;
	padding:5px 20px 5px 20px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	background:#fff;
	display:flex;
	justify-content:space-between;
}

.horizontal_menu {
	display: flex;
	align-items:center;
	justify-content: flex-end;
	list-style: none;
}

.horizontal_menu li {
	padding:0 10px;
}

nav a {
	color:#303846;
	text-decoration:none;
}

.logo {
	display:flex;
	align-items:center;
}

.block1{
	width:100%;
	flex:1 1 auto;
	margin: 60px 0 60px;
	padding: 20px 0 20px;
	background: url("../images/banner.png");
	background-position:center;
	background-size:cover;
	color:#fff;
}

.block1 .textblock {
	width:1000px;
	text-align:center;
	padding:0 40px;
}

.block1 a{
	text-decoration:none;
	font-size:1em;
	font-weight:bold;
	color:#fff;
	border: 2px solid #fff;
	border-radius:10px;
	margin:0 10px;
	padding:5px;
}

.inside_block {
	width:1000px;
	padding:60px 20px;
	display:flex;
        flex-direction:row;
	justify-content:space-between;
}

.inside_block .textblock {
        width:45%;
}

.inside_block img {
        width:30%;
        max-width:100%;
        height:auto;
        margin:auto;
}

.advantage .textblock {
	width:30%;
}

.about_JK {
	width:100%;
	background-color:#f7f7f7;
}


/** CSS STYLE **/
